<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/resources/css/bootstrap.custom.min.css">
    <link rel="stylesheet" href="/resources/css/customLogin.css">
</head>
<body>
    <div class="wrapper">
        <form class="form-signin" action="/login/check.html" th:attr="action=@{/login/check}">
            <h2 class="form-signin-heading">Please login</h2>
            <fieldset>
                <input type="text" class="form-control" name="loginId" placeholder="id" required="" autofocus="" />
                <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </fieldset>
        </form>
    </div>
</body>
</html>